@font-face {
    font-family: 'Korinna';
    src:
      url('korinna_bold-webfont.woff2') format('woff2'),
      url('korinna_bold-webfont.woff') format('woff'),
      url('Korinna_Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #91c7eb;
}

h2 {
    font-family: 'Korinna', sans-serif;
    color: #dc3525;
    text-shadow: -1px 0 #ffe29a, 0 1px #ffe29a, 1px 0 #ffe29a, 0 -1px #ffe29a;
}

.nine {
    background-color: #dc3525;
    border-color: #ffe29a;
}

.hole {
    display: none;
    background-color: #dc3525;
    border-color: #ffe29a;
}

#google-map {
    display: none;
}
#google-map img {
    background-color: #ffe29a;
    border-radius: 7px;
}

.br-div {
    display: none;
}

table {
    border: 3px solid #ffe29a;
}

#yards-table {
    display: none;
    font-size: 1.1em;
}